/* navbar */
.header {
  width: 100%;
  background-attachment: fixed;
  background-position: fixed;
}
.navbar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #fff;
  padding-top: 1 !important;
  padding-bottom: 1 !important;

}



.home{
position: absolute;
height: auto;
}

.navbar-nav {
  position:absolute;
  padding-left: 380px;
  margin-left: auto;
  font-size: 25px;
  size: 50px;
	overflow: hidden;
}

.container1{
 height: 250px;


}
.form-group {
 
  position: absolute;
  top: 50px;
  right: -900px;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid   black ;
  width: 800px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;

 
}


.form-control{
 
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.search{
  cursor: pointer;
}

.navbar ul.navbar-nav > li.active > a,
  .navbar ul.navbar-nav > li.show > a {
    text-decoration: none !important;
    border-top-color: #009900;
    color: #009900;
    
  }

/* your styles go here */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.box-simple h3,
.box-image .name h3,
.box-image-text .top .name h3,
.box-image-text .top .name h4,
.h5,
.h6,
 .box-image-text .content h5 a{
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

/* featured jobs section */
.rounded {
  border-radius:0.7rem !important;
}

.container .featured .box-image-text.bg-visible .bg {
  opacity:0;
  

}

.top {
  overflow:hidden;
}

.top .img-fluid {
  transition: transform 1.5s ease;
}

.top:hover .img-fluid {
  transform: scale(1.5);
}

.box-image-text .featured__details,
.badge{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container .featured-jobs-heading,
.box-image-text .content h5 a{
  color: #F5F8FA; /* extra light gray */
}

.box-image-text .content h5 a:focus,
.box-image-text .content h5 a:hover{
  text-decoration: none;
  color: #1da1f2; /* primary */
}

.heading:after,
.badge{
  background-color: #F41F4E; /* secondary */
}

.fa-map-marker{
  font-size: 1rem;
  color: #F41F4E;
}

.badge{
  color: #fff;
}

.bg-dark-custom{
background-color: #12171d; /* background */
}

.box-image-text{
  background: #18202b; /* surface */
}

.box-image-text .content p{
color: #AAB8C2; /* light gray */
}

/* FOOTER */
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  text-align: justify;
  text-justify: inter-word;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;

  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* job form */
.job-form-section.job-form-section--image{
  width: 100%;
}

/* trending this month section */
.trending-section{
  background-color: #F5F8FA;
}

.job-listing{
  padding-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0.7rem;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.job-listing .job__title a{
  color: #1DA1F2;
}

.job-listing .job__title a:hover{
  text-decoration: none;
  letter-spacing: 3px;
}

.job__star__link:hover{
  color: #fdcc0d;
}
